#space {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.summary {
    padding-top: 15px;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col-2.5{
    margin-right: 5px;
}